.Reports__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  gap: 0.75em;
  max-width: 600px;
  margin: 0 auto;
}

.Reports__header {
  font-size: 1.25rem;
  position: relative;
  display: flex;
}

.Reports__header::after {
  content: "";
  display: block;
  position: absolute;
  height: .4em;
  width: 120%;
  top: 0.8em;
  left: -9%;
  z-index: -3;
  background: var(--color-pink);
  opacity: 0.4;
}

.Reports__greeting {
  text-transform: capitalize;   
}

.Reports__team {
  text-align: center;
  font-size: 1.5rem;
  max-width: 90%;
  text-transform: capitalize;
}

.Reports__template {
  font-size: 1.1rem;
}

.Reports__toggle {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  width: 100%;
  align-items: center;
}

.Reports__toggle--text {
  font-size: 1.15em;
  font-weight: 600;
}

.btn--toggle {
  background: transparent;
  border: 1px solid var(--color-pink);
  color: var(--color-pink);
  font-size: 0.8rem;
  padding: 0.8em 1.5em;
  border-radius: 100px;
}

.btn--toggle:hover,
.btn--toggle.focus{
  background: var(--color-pink);
  color: white;
}

.Reports-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.Reports__card {
  background: #5c6d7e;
  color: white;
  padding: 1.5em;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  width: 350px;
}

.Reports__card--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Reports__card--name {
  font-size: 1.75rem;
}

.Reports__card--dategroup {
  text-align: right;
  font-size: 0.9rem;
}

.Reports__card--qa {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--color-pink);
  font-size: 1.15rem;
}

.Reports__card--qa:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.Reports__card--question {
  font-weight: 200;
}

.Reports__card--answer {
  font-weight: 600;
}

.Reports__card--answer::first-letter {
  text-transform: capitalize;
}