.TemplateCard__container {
  background: var(--color-dark-grey);
  color: white;
  padding: 1.5em;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.TemplateCard__name {
  font-size: 1.25rem;
  font-weight: 600;
}

.TemplateCard__description {
  font-size: 1.1rem;
}

.btn--rightaligned {
  align-self: flex-end
}
